
.text-left{
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: rgb(42, 16, 66);
    /* margin-left: 30px; */
    text-decoration-line: overline;
}
.navbar{
    width: 100%;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    display: flex;
    align-items: center;
    background-color: #584d61;
    font-family: sans-serif;
}



.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #0a0c0a;
    scroll-behavior: auto;
    background: linear-gradient(to left, #f58D28 0, #f58D28 66%, #ba5c00 100%);
    border-radius: 25rem;
}

.navbar-brand {
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 600;
}

.navbar-brand:hover{
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    color: yellow;
    font-weight: 700;
}

.navbar-toggler-icon{
    color: aliceblue;
}

.navbar-toggler.collapsed{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}


/* hero background image */

.bgimage {
    /* position: fixed; */
    display: flex;
    background-color: black;
    /* position:relative; */
    /* color: white; */
}


/* text css above hero image*/
.imagehomepage{
    padding-top: 20px;
    margin-top: 1px;
    max-width: 100%;
    border-radius: .25rem;
    float: left;
    cursor: pointer;
}
.bgimage .row>* {
    padding-left: calc(var(--bs-gutter-x) * 0);
} 



/* Animate hero text*/
.imagehomepage.animate.active{
    transform: translateY(0);
    opacity: 1;
}
.imagehomepage.animate{
    position: relative;
    transform: translateY(-200px);
    opacity: 0;
    transition: 1s all ease; 
}

.animate.active{
    transform: translateX(0);
    opacity: 1;
}
.animate{
    position: relative; 
    transform: translateX(150px); 
    opacity: 0; 
    transition: 1s all ease;
}


.hero_title {
    font-size: 2.5rem;
    font-family:sans-serif;
    font-weight: 600;
    margin-top: 25px;
    color: white;
}

.hero_title span{
    color:rgb(14, 211, 233); 
    font-size:50px; 
    font-weight: 700;

}

.hero_desc {
    font-size: 2rem;
    font-family:sans-serif;
    color: white;
}
.hero_desc span{
    color: rgb(25, 225, 32);
    font-weight: 600;
    font-size: 2.5rem
}

/*resume download button*/
.resume{
        /* text-align: center; */
        margin-top: 50px;
        text-size-adjust: 30px;
        padding: 5px;
        width: fit-content;
        border-radius: inherit;
}
.resume .resumebrand{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border: rgb(18, 17, 17);
    padding: 5px;
}
.resume .resumebrand:hover{
    color: #0a0c0a;
    background-color: white;
    border-radius: 4em;
    cursor: pointer;
}


/* about section image css 

.experience{
    background-color: #525558;
    text-align: inherit;
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: .25rem;
}

.experiencecard{
    background-color: transparent;
    
}
.experiencecard ul li{
    margin: 10px;
}
.experiencecard ul li p{
    margin: 0.5rem;
}
.experiencecard .card-title{
    text-align: left;
}
*/


.imageAboutPage {
    width: 100%;
    border-radius: .25rem;
    /* margin-left: 20px; */
    margin-right: 20px;
}


/* services section css */

.card {
    max-width: max-content;
}
.card:hover{
    padding: 1px;
    background-color: aliceblue;
}
.card-body {
    color: black;
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* Services Cards Animation*/
.reveal{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#home{
    margin-top: 0rem;
    position: relative;
}
#about, #cv, #skills, #services, #portfolio, #contact {
    /* margin-top: 5rem; */
    margin-bottom: 2rem;
    padding-top: 0rem;
}
#contact {
    padding-bottom: 4rem;
}



.image {
      background-image: url("images/about.jpg");
      background-size: cover;
      background-position: center;
      min-height: 300px;
      margin-top: 30px;
      margin-right: 30px;
      margin-left: 20px;
      border-radius: .25rem;
}
  

.left-half {
    padding-left:0 !important;
    position: relative;
    left: 0;
    right: 30%;
    margin-left: auto;
    width: auto;
}
